/Association$Multiplicity.class
/Association.class
/AssociationClass.class
/Collection$Mult.class
/Collection.class
/CollectionOfMany.class
/CollectionOfOne.class
/ManyToMany.class
/ManyToOne.class
/OneToMany.class
/OneToOne.class
/Quadruplet.class
/TernaryAssociationClass.class
/Triplet.class
